<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @searched_posts.each do |post| %>
      <cite>Author: <%= post.user.name %></cite>
    <%= render post %>
    <% if user_signed_in? %>
      <p>
        <%= link_to "Show this post", post %>
      </p>
    <% end %>
  <% end %>
</div>

<%= paginate @searched_posts %>

