<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div>
  <% @searched_posts.each do |post| %>
      <cite>Author: <%= post.user.name %></cite>
    <%= render post %>
    <% if user_signed_in? %>
      <p><%= link_to "Show this post", post, class: "btn btn-primary mt-2" %></p>
    <% end %>
  <% end %>
</div>

<%= paginate @searched_posts %>

