<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%# if @user.present?%>
      <cite>Author: <%= post.user.name %></cite>
    <%# end %>
    <%= render post %>
    <% if user_signed_in? %>
      <p>
        <%= link_to "Show this post", post %>
      </p>
    <% end %>
  <% end %>
</div>



<%== pagy_nav(@pagy) %>